
.left-comp{
    height: 80vh;
    overflow: scroll;
}

.hist-comp{
    height: 80vh;
    overflow: scroll;
}

.container{
    padding: 30px;
}

.title h1{
    color: black;
}

.title div{
    background-color: white;
}


.title{
    background-image: url('../images/mundo.jpeg');
    overflow: hidden;
}
