.comp-loading {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);

}

.comp-loading h1{
    margin: 0;
    position:Fixed;
    display: table-cell;
  vertical-align: middle;
    top: 40%;
    left: 80%;
    transform: translate(-39%, -5%);
}



